/*Esto es para dejar los borde a 0 todo.*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
/*El contenedor*/
.conteiner{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
button{
    color: white;
    padding: 9px;
    margin: 9px;
    background-color: #007BFF;
    margin-right: 4px;
}
label{
    padding: 4px;
    margin: 4px;;
}

input{
    padding: 4px;
    margin: 4px;
}
